.service {
    h2 {
        font-size: 26px;
        font-weight: 700;
    }
    i {
        font-size: 26px;
        margin: 2px 8px 0 0;
        color: #055999;
        padding: 16px;
        height: 58px;
        display: inline-block;
        border: 1px solid #055999;
    }
    h3 {
        padding-bottom: 8px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;
        line-height: 1.1em;
        color: #555;
        font-size: 18px;
    }
}